* {
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.cover {
  height: 91vh;
  background: #e5e0ff;
  background: linear-gradient(0deg, #e5e0ff 0%, #8ea7e9 35%, #7286d3 85%);
}

@media (max-width: 992.9px) {
  .cover {
    padding-top: 20%;
  }
}

.cover .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 992.9px) {
  .cover .img-container {
    display: block;
    font-size: 70%;
    padding-top: 40%;
  }
}

.cover .img-container img {
  width: 55%;
}

@media (max-width: 992.9px) {
  .cover .img-container img {
    width: 100%;
    height: 20%;
  }
}

.cover .img-container .instruct p {
  font-size: 200%;
  color: white;
}

@media (max-width: 992.9px) {
  .cover .img-container .instruct {
    display: none;
  }
}

.cover #login_page {
  padding-top: 10%;
}

.flex-column {
  width: 10%;
  height: 100vh;
  padding-top: 10%;
  position: fixed;
  left: 0;
}

@media (max-width: 992.9px) {
  .flex-column {
    display: none;
  }
}

.flex-column .icn {
  text-align: end;
  font-size: 100%;
}

.d-flex .container {
  padding-top: 5%;
  padding-left: 10%;
}

@media (max-width: 992.9px) {
  .d-flex .container {
    padding-top: 20%;
    width: 100%;
    padding-left: 0;
  }
}

#myposts .card:hover {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.preloadImage {
  height: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
}
